SECRET_KEY=change-me-in-production
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,localhost,your-school-domain.com
CSRF_TRUSTED_ORIGINS=https://your-school-domain.com
USE_SQLITE=False
DATABASE_URL=mysql://root:password@127.0.0.1:3306/schoolplatform
USE_REDIS=False
REDIS_URL=redis://127.0.0.1:6379/1
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
